* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

.wrapper-layout {
    max-width: 1440px;
    width: 1200px;
    padding: 0 16px;
    box-sizing: border-box;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "main aside";
    grid-template-columns: 690px 282px;
    gap: 228px;
    border-bottom: 1px solid rgba(222, 222, 222, 1);
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

.wrapper-aside {
    display: flex;
    flex-direction: column;
    margin-top: 88px;
    gap: 24px;
}

.block-help__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 234px;
    max-height: 512px;
    padding: 23px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    z-index: 0;
}

.block-help__card > img {
    max-width: 100%;
    max-height: 206px;
    margin-bottom: 24px;
}

.block-help__card > h3 {
    margin-bottom: 11px;
    text-align: center;
}

.block-help__card > p {
    margin-bottom: 24px;
    text-align: center;
}

.block-help__card button {
    padding: 12px 16px 12px 16px;
    background-color: rgba(53, 179, 169, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid rgba(53, 179, 169, 1);
    letter-spacing: 0%;
}

.block-help__card--color-blueWhite {
    background-color: rgba(230, 240, 253, 1);
}

.block-help__card--border {
    border: 1px solid rgba(239, 245, 251, 1);
}

.block-help__card-profile {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(222, 222, 222, 1);
}

.block-help__card-profile > img {
    border-radius: 50%;
    margin-bottom: 16px;
}

.block-help__card-info {
    display: flex;
    flex-direction: row;
    gap:8px;
    margin-bottom: 16px;
}


.block-help__card-info > span {
    color: rgba(162, 167, 177, 1);

}

.block-help__card-format {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 19px;
    left: 16px;
    gap: 8px;
    z-index: 1;
    color: rgba(51, 51, 51, 1);
}
.block-help__card-data {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: rgba(51, 51, 51, 1);
}

.block-help__card-info > :first-child::after{
    display: inline-block;
    content: "";
    width: 4px;
    height: 4px;
    background-color: rgba(162, 167, 177, 1);
    border-radius: 50%;
    margin-left: 8px;
    margin-bottom: 2px;
}

.block-help__card-data--style {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-style: "SemiBold";
}

.block-help__card-format > span {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    padding: 6px;
    background-color: rgba(243, 244, 248, 0.7);
    border-radius: 6px;
    align-self: flex-start;
}


.promo-card {
    display: flex;
    max-height: 304px;
    flex-direction: column;
    padding: 32px;
    border-radius: 16px;
    overflow: hidden;
    gap: 16px;
}

.promo-card--border {
    border: 1px solid rgba(239, 245, 251, 1);
}

.promo-card--color-blue {
    position: relative;
    background-color: rgba(41, 99, 163, 1);
    padding: 48px 24px 152px 24px;
    background-image: url("../media/image/article/candy.svg");
    z-index: 0;
}

.promo-card__surprise {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.promo-card__icons {
    display: flex;
    flex-direction: row;
}

.promo-card__icon--objectOne {
    position: absolute;
    z-index: 1;
    max-width: 112px;
    max-height: 146px;
    left: -1px;
    bottom: 0;

}

.promo-card__icon--objectTwo {
    position: absolute;
    z-index: 2;
    max-width: 167px;
    max-height: 159px;
    left: 104px;
    bottom: 0;
}

.promo-card__icon--objectThree {
    position: absolute;
    z-index: 3;
    max-width: 79px;
    max-height: 120px;
    left: 204px;
    bottom: 0;
}

.promo-card__text {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    vertical-align: bottom;
    color: rgba(41, 99, 163, 1);
}


.promo-card__text--bigSize {
    font-size: 24px;
    line-height: 32px;
}

.promo-card__content {
    font-family: "Open Sans", sans-serif;
    color: rgba(1, 22, 50, 1);
}

.promo-card__price {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    vertical-align: bottom;
    color: rgba(51, 51, 51, 1);
}

.promo-card__button {
    padding: 12px 16px 12px 16px;
    background-color: rgba(53, 179, 169, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid rgba(53, 179, 169, 1);
    letter-spacing: 0%;
    max-width: 108px;
}


.promo-card--border {
    position: relative;
    z-index: 0;
}

.promo-card__icon--objectFour {
    position: absolute;
    z-index: 1;
    max-width: 112px;
    max-height: 106px;
    left: 165px;
    bottom: 0;  
}
.promo-card__icon--objectFive {
    position: absolute;
    z-index: 1;
    max-width: 112px;
    max-height: 106px;
    left: 194px;
    bottom: 0;  
}




header, main, footer {
  position: relative;
  z-index: 1;
}

.header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(239, 242, 242, 1);
}


.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    margin: 0 auto;
}

.wrapper-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.header__left {
    display: flex;
    justify-content: space-between;
    margin: 14px 0px 14px 120px;
    box-shadow: none;
    gap: 32px;
    align-items: center;

}

.header__menu {
    display: flex;
    flex-direction: row;
    gap: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.25px;
    vertical-align: middle;
}

.header__link {
    text-decoration: none;
    color: #333333;
}

.header__menu-item {
    display: flex;
}

.header__right {
    display: flex;
    margin: 14px 120px 14px 0px;
    box-shadow: none;
    position: relative;
    z-index: 1;
}

.menu-burger {
    display: none;
}

.header__right .button-link {
    background-color: rgba(227, 245, 245, 1);
    padding: 14px 20px 14px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    color:rgba(3, 178, 165, 1);
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}


.breadcrumbs__list {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    list-style: none;
}

.wrapper-top__breadcrumbs a {
    color: rgba(51, 51, 51, 0.7);
    font-size: 12px;
    text-decoration: none;
}

.breadcrumbs__separator svg {
  vertical-align: middle;
}

.wrapper-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    margin: 16px 0px 24px 0px;
}

.wrapper-top__title {
    font-size: 48px;
    font-weight: 700;
    color: rgba(51, 51, 51, 1);
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    line-height: 56px;
    letter-spacing: 0%;
}

.wrapper-top__info {
    display: flex;
    gap:8px;
    flex-shrink: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #494949;
}

.wrapper-top__image {
    max-width: 100%;
    max-height: 331px;
}

.wrapper-top__author::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 1px;
    background-color: #494949;
    margin-left: 8px;
    margin-bottom: 4px;
    border-radius: 50%;
}

.wrapper-top__tabel-content {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #333333
}

.wrapper-top__tabel-title--bold {
    font-weight: 700;
}

.table-content__list {
    text-decoration: underline solid;
    text-decoration-thickness: 0%;
    margin-left: 25px;
    max-width: 560px;
}

.table-content__list > li::marker {
    font-size: 24px;
    color: #03B2A5;
}

.open-table__content-title {
    cursor: pointer;
    display: block;
}

.table-content__sublist {
    display: none;
    padding-left: 16px;
    text-decoration: none;
    list-style: none;
}

.table-content__link {
    color: #333333
}

.table-content__link--subtitle-2 {
    margin-left: 16px;
}
.table-content__link--subtitle-3 {
    margin-left: 32px;
}

#open-table__content:checked + .open-table__content-title + .table-content__sublist {
    display: block;
}


.article-content {
    margin: 0px 0px 24px 0px;
}


.article-content {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    color: rgba(51, 51, 51, 1);
    gap: 24px;
    flex-direction: column;
}

.article-content > h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.article-content > blockquote {
  position: relative;
  padding: 34px 24px 24px 24px;
  z-index: 0;
  font-style: italic;
  font-weight: 400;
}

.article-content__blockquote--color-blue{
  background-color: #F3F7FE;
}

.article-content > blockquote::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 30px;
  width: 56px;
  height: 36px;
  background-image: url('../media/image/icon_bq.svg');
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 1;
}

.article-content > blockquote > div {
    margin-top: 8px;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
}

.article-content__block-q > h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}

.article-content__block-q > ul {
    margin-left: 25px;
}
.article-content__block-q li::marker {
    font-size: 24px;
    color: #03B2A5;
}
.article-content > span {
    line-height: 1.3;
    letter-spacing: 0.25px;
    color: rgba(134, 134, 134, 1);
    font-size: 14px;
}

.mission-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 485px;
    margin-left: 102px;
}


.article-content__mission-text {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    font-style: italic;
}

.article-content__block-it {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.article-content__exercise {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.article-content__exercise > h3 {
    font-weight: 700;
}


.article-content__exercise--yellow-white {
    background-color: rgba(254, 250, 236, 1);
}

.article-content__exercise--orange-white {
    background-color: rgba(255, 243, 235, 1);
}

.article-content__exercise--blue-white {
    background-color: rgba(3, 178, 165, 0.1);
}

.article-content__moreblock {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
}

.article-content__oneblock-it,
.article-content__twoblock-it {
    display: flex;
    gap: 24px;
    flex-direction: column;
    flex-wrap: nowrap;
}

.article-content__svg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-bottom {
    margin-bottom: 48px;
}

.main-bottom__categories-list {
    display: flex;
    margin: 0px 120px 0px 120px;
    align-items: center;
    color: rgba(41, 99, 163, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
}

.main-bottom__category::after {
    position: relative;
    display: inline-block;
    content: "";
    margin-left: 8px;
    bottom: 4px;
    width: 1px;
    height: 1px;
    background-color:rgba(41, 99, 163, 1);
    border-radius: 50%;
}


.block-help__card-function {
    margin-top: 16px;
    margin-bottom: 20px;
}

.block-help__card-function > h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: rgba(51, 51, 51, 1);
}

.block-help__card-function > ul {
    color:rgba(51, 51, 51, 1) ;
    margin-left: 25px
}

.block-help__card-item::marker {
    font-size: 24px;
    color: #03B2A5;
}

.footer {
    display: flex;
    background-color: rgba(41, 99, 163, 1);
    max-height: 100%;
    max-width: 100%;
    flex-direction: column;
}

.wrapper-bottom {
    display: flex;
    margin: 0px auto;
    flex-direction: column;
    margin-bottom: 17px;
}


.footer-nav {
    margin-bottom: 24px;
    display: flex;
    gap: 93px;
    flex-shrink: 0;
}

.footer-nav__list-self, .footer-nav__list-other {
    display: inline-flex;
    gap: 21px;
    flex-direction: column;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
}


.footer-nav-link {
    display: flex;
    flex-wrap: nowrap;
}

.footer__top-nav {
    display: flex;
    flex-direction: row;
    margin: 40px 120px 0px 120px;
    gap: 91.5px;
    border-bottom: 1px solid rgba(157, 157, 157, 0.3);
}

.footer-nav__item > a {
    text-decoration: none;
}

.footer-nav-link {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 700;
}

.footer-email {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-email__text {
    max-width: 356px;
    font-weight: 700;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

.footer-email__input {
  display: flex;
  align-items: center;
}

.footer-email__input > input {
    height: 46px;
    border-radius: 4px 0 0 4px; /* скругление только слева */
    border: 1px solid rgba(157, 157, 157, 0.2);
    width: 325px;
    padding-left: 16px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(157, 157, 157, 1);
    outline: none;
    border-right: none; /* убираем правую границу для стыка с кнопкой */
}

.footer-email__input > button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 20px;
    height: 48px;
    background-color: rgba(22, 200, 187, 1);
    border-radius: 0 4px 4px 0; /* скругление только справа */
    border: 1px solid rgba(157, 157, 157, 0.2);
    border-left: none; /* убираем левую границу */
    cursor: pointer;
    font-size: 14px;
    color: white;
}


.footer-email__confirm {
    color:rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 400;
    opacity: 0.5;
    max-width: 486px;
    text-align: justify;
    text-align-last: left;
}


.footer-social__web {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-social__part > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.footer-social__icon-web {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.footer__bottom-nav {
    display: flex;
    margin: 16px 120px 0px 120px;
    flex-direction: row;
    gap: 48px;
}
.footer__bottom-nav > a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}


@media (max-width: 1024px) {
  /* планшеты */

.container {
    max-width: 1024px;
    padding: 0px;
}

.wrapper-header {
    gap: 20px;
}

.header__left {
    margin: 14px 0px 14px 32px;
    gap: 16px;
}

.header__menu {
    gap: 16px;
}

.header__right {
    display: flex;
    margin: 14px 32px 14px 0px;
    box-shadow: none;
}

.menu-burgger {
    display: none;
}

.wrapper-top {
    margin-left: 32px;
    margin-right: 32px;
}

.categories__list {
    flex-wrap: wrap;
}

.wrapper-content__article-card:nth-child(1), .wrapper-content__article-card:nth-child(2) {
  max-width: 468px;
  max-height: 500px;
}


.wrapper-content__article-card {
    max-width: 304px;
}

.article-card__content {
  margin: 16px 17px 16px 17px;
}

.footer-nav__item {
  gap: 16px;
}

.footer__top-nav {
  margin: 40px 38px 0px 38px;
  gap: 21px;
}

.footer__bottom-nav {
  margin: 16px 38px 0px 38px;
}

.footer-email__input > input {
    max-width: 270px;
}
}




@media (max-width: 768px) {
  /* планшеты */
.menu-burger {
    display: block;
  position: relative;
  z-index: 1000;
}

/* Иконка бургера */
.burger-icon {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  padding: 8px;
  z-index: 1100; /* выше меню */
}

.burger-icon span {
  display: block;
  width: 18px;
  height: 2px;
  border-radius: 2px;
  background-color: rgba(3, 178, 165, 1);
}

/* Скрываем чекбокс */
.burger-toggle {
  display: none;
}

/* Меню по умолчанию скрыто */
.nav-burger-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 9999;
    background: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    min-width: 200px;
}

/* Показываем меню при активации чекбокса */
.burger-toggle:checked + .burger-icon + .nav-burger-menu {
    display: block;
}

.header {
    position: relative;
    z-index: 1000;
}

.header__menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__menu-list li {
    margin-bottom: 10px;
}

.burger-header__link {
    text-decoration: none;
    font-size: 16px;
    color: #333;
}


.container {
    max-width: 768px;
    padding: 0px;
}

.wrapper-header {
    gap: 20px;
}

.header__left {
    margin: 14px 0px 14px 20px;
    gap: 16px;
}

.header__right {
    display: flex;
    margin: 14px 20px 14px 0px;
    box-shadow: none;
}


.button-link {
    display: none;
}

.header__right .burger-button-link {
    background-color: rgba(227, 245, 245, 1);
    padding: 14px 20px 14px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    color:rgba(3, 178, 165, 1);
    font-size: 8px;
    font-weight: 700;
    text-decoration: none;
}

.header__nav {
    display: none;
}

.wrapper-top {
    margin-left: 20px;
    margin-right: 20px;
}

.wrapper-content__article-card:nth-child(1), .wrapper-content__article-card:nth-child(2) {
    max-width: 728px;
    max-height: 500px;
}

.wrapper-content__article-card {
    max-width: 352px;
}

.article-card__view {
  position: relative;
  max-width: 728px;
  max-height: 500px;
}

.article-card__content-image {
  width: 100%;
}

.footer__top-nav {
  flex-wrap: wrap;
  margin: 35px 20px 0px 20px;
  gap: 31px;
}

.footer-email{
    flex: 1;
}

.footer-social__web {
    margin-bottom: 27px;
}
}


@media (max-width: 414px) {
    /*iPhone 11 Pro Max - 2*/
.container {
    max-width: 414px;
    padding: 0px;
}

.wrapper-top__categories {
  overflow-x: auto;         /* включает горизонтальный скролл */
  -webkit-overflow-scrolling: touch; /* плавная прокрутка на iOS */
  scrollbar-width: none; /* Firefox */
}

.wrapper-top__categories::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.categories__list {
  display: flex;
  flex-wrap: nowrap;        /* важно: элементы не переносятся */
  gap: 8px;                /* отступы между элементами */
  list-style: none;
}

.category__item {
  flex: 0 0 auto;           /* фиксирует ширину элемента */
}

.category__item-link {
  display: inline-flex;
  align-items: center;
  gap: 1px;
  white-space: nowrap;     /* предотвращает перенос текста */
}

.wrapper-content__article-card {
    max-width: 374px;
    max-height: 466px;
}

.wrapper-content__article-card:nth-child(1), .wrapper-content__article-card:nth-child(2) {
    max-width: 374px;
    max-height: 462px;
}

.article-card__view {
    max-width: 100%;
    height: 206px;
}

.article-card__content-image {
    height: 100%;
}

.footer-nav__list {
  gap: 158px;
}

.footer__bottom-nav {
  margin-left: 19.5px;
  flex-direction: column;
  gap: 24px;
}

}

@media (max-width: 320px) {
    /* iphone SE */

.container {
    max-width: 320px;
    padding: 0px;
}

.header__left {
    margin: 14px 0px 14px 16px;
}

.header__right {
    margin: 14px 16px 14px 0px;
}

.wrapper-top {
    margin-left: 16px;
    margin-right: 16px;
}
.wrapper-top__title {
    font-size: 24px;
}

.wrapper-content {
    margin-left: 16px;
    margin-right: 16px;
}

.wrapper-content__article-card:nth-child(1), .wrapper-content__article-card:nth-child(2) {
    max-width: 100%;
    max-height: 100%;
  }

.wrapper-content__article-card {
    max-width: 100%;
    max-height: 100%;
}


.footer-nav__list {
    gap: 71px;
  }

  
.footer-email__input > button {
    display: none;
}

.footer-email__input > input {
    border-radius: 4px;
}
}